@model AddPhoneNumberViewModel
@{
    ViewBag.Title = "Phone Number";
}
@section ContentHeader
{
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Manage 
            <small>Add Phone Number</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-th-large"></i>Manage</a></li>
            <li class="active">Add Phone Number</li>
        </ol>
    </section>
} 
<section class="content">
    <div class="row"></div>
    <div class="row">
        <div class="col-md-6">
            @using (Html.BeginForm("AddPhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()               
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Number, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.EditorFor(m => m.Number, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">                       
                        <button type="submit" class="btn btn-default"><span class="fa fa-save">Save</span></button>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}