@model ForgotPasswordViewModel
@{
    ViewBag.Title = "Password Reset";
    Layout = null;
}
<!DOCTYPE html>
<html class="bg-black">
<head>
    <meta charset="UTF-8">
    <title>Water Rev | Email Password Link</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/template")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body class="bg-black">
    <div class="form-box" id="login-box">
        <div class="header">Forgot Password</div>
        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="body bg-gray">
                <div class="form-group">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email Address" })
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                </div>
            </div>
            <div class="footer">
                <button type="submit" class="btn bg-olive btn-block">Email Link</button>
            </div>
        }       
    </div>
</body>
</html>

