@model ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
    Layout = null;
}
<!DOCTYPE html>
<html class="bg-black">
<head>
    <meta charset="UTF-8"> 
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <title>Water Rev | Reset Password</title>   
    @Styles.Render("~/Content/css")
    <link href="~/Content/Site.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body class="bg-black">
    <div class="form-box" id="login-box">
        <div class="header">Reset Password</div>
        @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="body bg-gray">
                @Html.ValidationSummary("", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Code)
                <div class="form-group">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
                </div>
                <div class="form-group">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeHolder = "Password" })
                </div>
                <div class="form-group">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password" })
                </div>
            </div>
            <div class="footer">
                <div class="form-group">
                    <button type="submit" class="btn bg-olive btn-block">Reset</button>
                </div>
            </div>
        }
    </div>
    @Scripts.Render("~/bundles/jqueryval")
</body>
</html>
