@{
    ViewBag.Title = "Reset password confirmation";
    Layout = null;
}   
<!DOCTYPE html>
<html class="bg-black">
<head>
    <meta charset="UTF-8">
    <title>Water Rev | Reset Password Confirmation</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    @Styles.Render("~/Content/css")
    <link href="~/Content/Site.css" rel="stylesheet" />
    @Styles.Render("~/Content/template")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body class="bg-black">
    <div class="form-box" id="login-box">
        <div class="header">Reset Password Confirmation</div>
        <div class="body bg-gray">
            Your Password Has Been Reset.             
        </div>
            <div class="footer">
                <div class="form-group">
                    @Html.ActionLink("click here to log in", "Login", "Account", null, new { id = "loginLink",@class="btn bg-olive btn-block" })
                </div>
            </div>
        }
    </div>
</body> 
</html>
