@model SendCodeViewModel
@{
    ViewBag.Title = "Send Verification Code";
    Layout = null;
}
<!DOCTYPE html>
<html class="bg-black">
<head>
    <meta charset="UTF-8">
    <title>Water Rev | Send Verification Code</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    @Styles.Render("~/Content/css")
    <link href="~/Content/Site.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/jquery") 
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body class="bg-black">
    <div class="form-box" id="login-box">
        <div class="header">Send Verification Code</div>
        @using (Html.BeginForm("SendCode", "Account", new { Model.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.Hidden("rememberMe", @Model.RememberMe)
            <div class="body bg-gray">
                <div class="form-group">
                    Select Two-Factor Authentication Provider:
                    @Html.DropDownListFor(model => model.SelectedProvider, Model.Providers,htmlAttributes:new {@class="form-control"})
                </div>
            </div>
            <div class="footer">
                <button type="submit" class="btn bg-olive btn-block">Send Code</button>
            </div>
        }
    </div>  
    @Scripts.Render("~/bundles/jqueryval")
</body>
</html>