@model VerifyCodeViewModel
@{
    ViewBag.Title = "Verify";
    Layout = null;
}
<!DOCTYPE html>
<html class="bg-black">
<head>
    <meta charset="UTF-8">
    <title>Water Rev | Verify</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    @Styles.Render("~/Content/css")
    <link href="~/Content/Site.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body class="bg-black">
    <div class="form-box" id="login-box">
        <div class="header">Enter Verification Code</div>
        @using (Html.BeginForm("VerifyCode", "Account", new { Model.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.Hidden("provider", @Model.Provider)
            @Html.Hidden("rememberMe", @Model.RememberMe)
            <div class="body bg-gray">
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.TextBoxFor(m => m.Code, new { @class = "form-control", @placeholder = "Code" })
                </div>
                <div class="form-group">
                    @Html.CheckBoxFor(m => m.RememberBrowser)
                    @Html.LabelFor(m => m.RememberBrowser)
                </div>
            </div>
            <div class="footer">
                <div class="form-group">
                    <button type="submit" class="btn bg-olive btn-block">Verify Code</button>
                </div>
            </div>
        }
    </div>
    @Scripts.Render("~/bundles/jqueryval")
</body>
</html>
